* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer-container {
    width: 100%;
}

.footer-container footer {
    width: 100%;
    padding: 1%;
    color: white;
    background-color: black;
    font-size: 0.9em;
    text-align: center;
}

.footer-container footer a {
    color: inherit;
    font-style: normal;
    font-size: 1em;
    padding-left: 0.25%;
    padding-right: 0.25%;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}

.footer-container footer a:hover {
    transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
}