/* PLACEHOLDER */

:root {
    font-size: 1em;
}

.layer {
    margin: 0.5%;
    padding: 1%;
    margin-top: 2%;
    border: 1px solid #eee;
    border-radius: 1%;
    position: relative;
}

.layer ul {
    list-style-type: none;
}

.layer-name {
    font-weight: bold;
    padding-bottom: 1%;
}

.layer-subtitle {
    font-size: 0.8em;
    font-family: 'Century Gothic', sans-serif;
}

.layer-options {
    margin-top: 2%;
}

.layer-options span {
    margin-right: 2%;
}

.layer-options span:hover {
    cursor: pointer;
}