nav {
    width: 100%;
    height: auto;
    background-color: darkgray;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

nav ul li {
    padding: 0.5%;
    padding-right: 2%;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    display: inline-block;
    position: relative;
    text-align: center;
}

nav ul li:hover {
    background-color: #808080;
}

nav ul li:hover .submenu {
    display: block;
}

#dropdown-icon {
    display: none;
}

.submenu {
    position: absolute;
    display: none;
    z-index: 1;
    background-color: darkgray;
    padding: 1%;
    width: auto;
}

.submenu li {
    font-size: 0.8em;
    padding: 5%1%;
}
