* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    /* width: 100vw; */
    margin: 0 auto;
}

.container header {
    width: 100%;
}

.navbar {
    width: 100%;
    height: auto;
    background-color: darkgray;
}

.navbar-ul {
    list-style-type: none;
    flex-direction: row;
}

.navbar-ul li {
    padding: 1%;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    display: inline-block;
}

.navbar-ul li:hover {
    background-color: #808080;
}

.navbar-ul li:hover .submenu {
    display: flex;
    cursor: pointer;
}

.submenu {
    position: absolute;
    display: none;
    z-index: 1;
    background-color: lightgray;
    padding: 0.5%;
    flex-direction: column;
}

.submenu li {
    font-size: 0.8em;
    padding: 5%;
}
