:root {
    font-family: sans-serif;
    font-size: 1em;
}

.upload-form {
    padding: 1%;
}

.upload-form label {
    font-size: 0.9em;
    font-family: 'Century Gothic', 'sans-serif';
    font-weight: bold;
}

.upload-form input {
    margin-top: 2%;
}

.submit-button:hover {
    transform: scale(1.25);
    -o-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
}

.submit-button {
    padding: 1%;
    /* border: none;
    border-radius: 1%; */
    transition: 0.5s ease-in-out 0.5s;
    -o-transition: 0.5s ease-in-out 0.5s;
    -webkit-transition: 0.5s ease-in-out 0.5s;
    -moz-transition: 0.5s ease-in-out 0.5s;
}